html, body {
    height: 100%; /* Ensure the page fills the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange header, content, and footer in a column */
}

html{
    line-height: 1.5;
    letter-spacing: .06em;
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-color: #fff;
    color: #222;
    font-family: Inter, sans-serif;
}

header, .footer{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    background-color: #fafafa;
    font-family: monospace;
}

main{
    flex-grow: 1;
    display: block;
}

.header, .footer{
    background-color: #fafafa;
    font-family: monospace;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 1rem;
}

.in_header, .in_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}

.in_menu, .footer_social_menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    list-style: none;
}

.in_menu a, .in_header a, .in_footer a, .footer_social_menu a{
    color: #222;
    text-decoration: none;
}

.in_menu li, .footer_social_menu li{
    padding: 0 8px;
}

a:hover{
    color: #8abeb7;
}

.rights_reserved{
    font-size: 0.8em;
}


.mail_icon , .github_icon , .rss_icon, .linkedin_icon , .instagram_icon{
    fill: #333; /* Set the initial fill color */
    transition: fill 0.3s ease; /* Smooth transition */
}

.mail_icon:hover , .github_icon:hover , .rss_icon:hover , .linkedin_icon:hover , .instagram_icon:hover{
    fill: #8abeb7; /* Change the fill color on hover */
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.posts {
    width: 100%;
    max-width: 760px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
}

.posts_group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
}

.posts .post_year {
    padding-top: 6px;
    margin-right: 1.8em;
    font-size: 1.6em;
    opacity: .6;
}

.posts_list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.posts .post_item {
    border-bottom: 1px grey dashed;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

.posts .post_item_inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
    text-decoration: none;
}

.posts .post_title {
    font-size: 1rem;
    margin: 5px 0;
}

.posts .post_day {
    flex-shrink: 0;
    margin-left: 1em;
    opacity: .6;
}