html, body {
    height: 100%; /* Ensure the page fills the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange header, content, and footer in a column */
}

html{
    line-height: 1.5;
    letter-spacing: .06em;
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-color: #fff;
    color: #222;
    font-family: Inter, sans-serif;
}

header, .footer{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    background-color: #fafafa;
    font-family: monospace;
}

main{
    flex-grow: 1;
}

.header, .footer{
    background-color: #fafafa;
    font-family: monospace;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 1rem;
}

.in_header, .terminal_section, .in_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}

.in_menu, .footer_social_menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    list-style: none;
}

.in_menu a, .in_header a, .in_footer a, .footer_social_menu a{
    color: #222;
    text-decoration: none;
}

.in_menu li, .footer_social_menu li{
    padding: 0 8px;
}

a:hover{
    color: #8abeb7;
}

.rights_reserved{
    font-size: 0.8em;
}

.terminal{
    background-color: aliceblue;
    color: #222;
    width: 65%;
    max-width: 100%;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
}

.terminal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 10px;
    color: #fff;
}

.buttons{
    display: flex;
    gap: 8px;
}

.buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f56; /* Close button (red) */
}

.buttons span:nth-child(2) {
    background-color: #ffbd2e; /* Minimize button (yellow) */
}

.buttons span:nth-child(3) {
    background-color: #27c93f; /* Maximize button (green) */
}

.terminal_title {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.terminal_body {
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.line {
    display: flex;
    color: whitesmoke;
}

.prompt {
    color: #8abeb7;
    margin-right: 8px;
}
  
.cursor {
    display: inline-block;
    width: 8px;
    height: 1em;
    background-color: #c5c8c6;
    animation: blink 1s step-start infinite;
}
  
@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.intro{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    padding-bottom: 50px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: rgba(138, 190, 183, 0.4); /* 50% transparent color */
    text-decoration-style: solid;
    text-decoration-thickness: 6px;
    text-underline-position: under; /* Ensures underline affects letters */
}

.mail_icon , .github_icon , .rss_icon, .linkedin_icon , .instagram_icon{
    fill: #222; /* Set the initial fill color */
    transition: fill 0.3s ease; /* Smooth transition */
}

.mail_icon:hover , .github_icon:hover , .rss_icon:hover , .linkedin_icon:hover , .instagram_icon:hover{
    fill: #8abeb7; /* Change the fill color on hover */
}
