html{
    line-height: 1.5;
    letter-spacing: .06em;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: #222;
    font-family: Inter, sans-serif;
    margin: 0;
}

.header{
    background-color: #fafafa;
    font-family: monospace;
    font-size: 1em;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 1rem;
}

.in_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}

.in_menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    list-style: none;
}

.in_menu a, .in_header a{
    color: #222;
    text-decoration: none;
}

.in_menu li{
    padding: 0 10px;
}

a:hover{
    color: orange;
}